<nav class="top-bar hide-for-print" aria-label="Main navigation">
  <div class="top-bar-left">

    <ul class="menu mainnav show-for-large"><li><a routerLink=""><img src="./assets/images/apple-touch-icon.png" style="height:70px;margin-top: -19px"></a></li>
    </ul>    </div>
  <div class="top-bar-right">

    <ul class="menu">

      <li>


      </li>
      <li>
        <a routerLink="/signUpCandidat" class="button-81">
          Candidat Inscription                 </a>
      </li>
      <li>
        <a routerLink="/signUp" class="button-81">
          Entreprise Inscription                </a>
      </li>
      <li>
        <a routerLink="/signIn" class="button-81">
          Connexion                 </a>
      </li>


    </ul>

  </div>

</nav>
