<article class="contentcontainer">
  <div class="row offset-bottom-1 medium-offset-bottom-1">
    <div class="column">


      <h1>
        Hi                <span class="dashboard__user-name">
                   {{username}}             </span>
      </h1>
    </div>
  </div>
  <div id="w1" class="row row--flex-equal-heights"><div class="column medium-6 large-4" data-key="8104">    <div class="card card--1 dashboard__card dashboard__card--exam">
    <section>
      <a class="card__link" href="/my-dashboard/exams/item8104" aria-labelledby="section8104">
        <header class="card__header">
          <h2 id="section8104">Exams</h2>


        </header>
      </a>
      <div class="card__body"><p>Create a more serious knowledge test with a pass or fail mark and even generate certificates automatically.</p>
        <p><a href="https://help.easy-lms.com/en-us/category/exams-1rga8mw/" rel="noopener noreferrer" target="_blank">Need help? Read our Exam help articles</a></p></div>
    </section>
  </div>
  </div>
    <div class="column medium-6 large-4" data-key="10012">    <div class="card card--1 dashboard__card dashboard__card--exam">
      <section>
        <a class="card__link" href="/my-dashboard/courses/item10012" aria-labelledby="section10012">
          <header class="card__header">
            <h2 id="section10012">Courses</h2>


          </header>
        </a>
        <div class="card__body"><p>Create slides with text, images, video, and audio files and generate certificates at the end.</p>
          <p><a href="https://help.easy-lms.com/en-us/category/courses-jlye66/" target="_blank" rel="noopener noreferrer">Need help? Read our Course help articles</a></p></div>
      </section>
    </div>
    </div>
    <div class="column medium-6 large-4" data-key="3245">    <div class="card card--1 dashboard__card dashboard__card--exam">
      <section>
        <a class="card__link" href="/my-dashboard/my-assessments/item3245" aria-labelledby="section3245">
          <header class="card__header">
            <h2 id="section3245">Assessments</h2>


          </header>
        </a>
        <div class="card__body"><p>Create surveys, forms, and personality tests. Send notification emails with the results at the end.</p>
          <p><a href="https://help.easy-lms.com/en-us/category/assessments-1sx3lkp/" rel="noopener noreferrer" target="_blank">Need help? Read our Assessment help articles</a></p></div>
      </section>
    </div>
    </div>
    <div class="column medium-6 large-4" data-key="3240">    <div class="card card--1 dashboard__card dashboard__card--exam">
      <section>
        <a class="card__link" href="/my-dashboard/my-quizzes/item3240" aria-labelledby="section3240">
          <header class="card__header">
            <h2 id="section3240">Quizzes</h2>


          </header>
        </a>
        <div class="card__body"><p>Create a time-based test with gamification elements and a ranking at the end.</p>
          <p><a href="https://help.easy-lms.com/en-us/category/quizzes-17ntriq/" rel="noopener noreferrer" target="_blank">Need help? Read our Quiz help articles</a></p></div>
      </section>
    </div>
    </div>
    <div class="column medium-6 large-4" data-key="10502">    <div class="card card--1 dashboard__card dashboard__card--exam">
      <section>
        <a class="card__link" href="/my-dashboard/academy/item10502" aria-labelledby="section10502">
          <header class="card__header">
            <h2 id="section10502">Academy</h2>


          </header>
        </a>
        <div class="card__body"><p>Create a fully branded web page to publish your learning content created in other sections of our tool.</p>
          <p><a href="https://help.easy-lms.com/en-us/category/academy-gdleuk/" rel="noopener noreferrer" target="_blank">Need help? Read our Academy help articles</a></p></div>
      </section>
    </div>
    </div>
    <div class="column medium-6 large-4" data-key="12563">    <div class="card card--1 dashboard__card dashboard__card--exam">
      <section>
        <a class="card__link" href="/my-dashboard/analyze/item12563" aria-labelledby="section12563">
          <header class="card__header">
            <h2 id="section12563">Analyze</h2>


          </header>
        </a>
        <div class="card__body"><p>View, filter, and download global results throughout your learning content in Easy LMS.</p>
          <p><a href="https://help.easy-lms.com/en-us/article/how-to-use-the-analyze-tab-lv6jvp/" rel="noopener noreferrer" target="_blank">Need help? Find the help article here</a></p></div>
      </section>
    </div>
    </div>
  </div>    <div class="row">

</div>
</article>
