.child1 {
  float: right;
  display: inline-block;
  width: 50%;
  height: 100%;

}
.child0 {
  float:left;
  display: inline-block;
  width: 50%;
  height: 100%;

}
#parent {
  width: 100%;
  height: 90px;
  white-space: nowrap;
  overflow-x: auto;
}
