<div class="pane__inner row">
  <article>
<br>
    <br>
    <br>
    <div class="button-group medium-right medium-pull-top-2 offset-bottom-1">
      <a class="button-50 button--expanded-on-small round" data-open="modal--create-exam" routerLink="/entrepriseSpace/createCompagneExamen">
        Créer un nouveau compagne
      </a>
    </div>

    <div class="container" style="text-align: center;margin: auto">
      <section class="panel">

        <h1 class="heading--serif jumbotron__title medium-offset-bottom-2">
          Liste Des Compagnes D'examens                    </h1>
        <hr>

        <br>
        <br>
        <div id="#table-wrapper" class="large-screen">
          <table style="text-align: center" class="table-responsive card-list-table large-screen">
            <thead>
            <tr style="background: darkgrey;text-align: center">



              <th class="center" style="color: snow;text-align: center"> <b> id </b></th>
              <th class="center" style="color: snow;text-align: center"><b>Name</b></th>
              <th class="center" style="color: snow;text-align: center"> <b>start Date </b></th>
              <th class="center" style="color: snow;text-align: center"><b>end Date</b></th>

              <th class="center" style="color: snow;text-align: center"> <b>Examens</b></th>
              <th class="center" style="color: snow;text-align: center"><b>Candidat</b></th>
              <th class="center" style="color: snow;text-align: center"><b>Invite Des Candidats</b></th>

            </tr>

            </thead>
            <tbody>


            <tr *ngFor="let comp of allCompagne">

              <td class="center"> <span>{{comp.id}}</span></td>
              <td class="center"><span>{{comp.name}}</span></td>


              <td class="center"><span>{{comp.start_date}}</span></td>

              <td class="center" ><span>{{comp.end_date}}</span></td>
              <td class="center"><span> <a [routerLink]="['/entrepriseSpace/ExamensOfCompagne', comp.id]"> <i class="fa-solid fa-eye"></i> </a></span></td>
              <td class="center"><span> <a [routerLink]="['/entrepriseSpace/listCandidatsOfCom', comp.id]"> <i class="fa-solid fa-eye"></i> </a></span></td>

              <td class="center"><span> <a [routerLink]="['/entrepriseSpace/inviteCandidat', comp.id]"> <i class="fa-solid fa-user-plus"></i> </a></span></td>



            </tr>

            </tbody>
          </table>
        </div>





      </section>
    </div>

  </article>
</div>
